.ant-advanced-search-form {
  padding: 20px;
  background: rgb(243, 246, 249);
  border: 1px solid #ebeef5;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
  margin: 0 0 8px 0;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}
